// 
// This file defines the base configuration for an optional profiling-specific
// build of any project. To use these settings, create a Profile configuration
// in your project, and use this file at the project level for the new
// configuration.
//

// based on the Release configuration, with some stuff related to debugging
// symbols re-enabled
#include "Release.xcconfig"

// Whether to strip debugging symbols when copying resources (like included
// binaries)
COPY_PHASE_STRIP = NO

// Whether to only build the active architecture
ONLY_ACTIVE_ARCH = YES

// Whether to strip debugging symbols when copying the built product to its
// final installation location
STRIP_INSTALLED_PRODUCT = NO

// Whether to perform App Store validation checks
VALIDATE_PRODUCT = NO

// Disable Developer ID timestamping
OTHER_CODE_SIGN_FLAGS = --timestamp=none
