// 
// This file defines the base configuration for a Test build of any project.
// This should be set at the project level for the Test configuration.
//

#include "Debug.xcconfig"

// Sandboxed apps can't be unit tested since they can't load some random 
// external bundle. So we disable sandboxing for testing.
CODE_SIGN_ENTITLEMENTS = 
