[submodule "Carthage.checkout/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage.checkout/Quick"]
	path = Carthage/Checkouts/Quick
	url = https://github.com/Quick/Quick.git
[submodule "Carthage.checkout/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Carthage/Checkouts/Nimble"]
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	url = https://github.com/Quick/Quick.git
