[submodule "external/specta"]
	path = external/specta
	url = git://github.com/github/specta.git
[submodule "external/expecta"]
	path = external/expecta
	url = git://github.com/github/expecta.git
[submodule "external/xcconfigs"]
	path = external/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
