[submodule "external/specta"]
	path = external/specta
	url = https://github.com/specta/specta.git
[submodule "external/expecta"]
	path = external/expecta
	url = https://github.com/specta/expecta.git
[submodule "external/xcconfigs"]
	path = external/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
