//
// This file defines additional configuration options that are appropriate only
// for an application on Mac OS X. This should be set at the target level for
// each project configuration.
//

// Import base application settings
#include "../Base/Targets/Application.xcconfig"

// Apply common settings specific to Mac OS X
#include "Mac-Base.xcconfig"

// Whether function calls should be position-dependent (should always be
// disabled for library code)
GCC_DYNAMIC_NO_PIC = YES
