//
// This file defines additional configuration options that are appropriate only
// for a dynamic library. This should be set at the target level for each
// project configuration.
//

// Import common settings specific to Mac OS X
#include "Mac-Base.xcconfig"

// Whether to strip out code that isn't called from anywhere
DEAD_CODE_STRIPPING = NO

// Whether function calls should be position-dependent (should always be
// disabled for library code)
GCC_DYNAMIC_NO_PIC = NO

// Don't include in an xcarchive
SKIP_INSTALL = YES
