//
// This file defines additional configuration options that are appropriate only
// for iOS. This file is not standalone -- it is meant to be included into
// a configuration file for a specific type of target.
//

// Architectures to build
ARCHS = $(ARCHS_STANDARD_32_BIT)

// Whether to only build the active architecture (overridden from Debug/Profile)
ONLY_ACTIVE_ARCH = NO

// The base SDK to use (if no version is specified, the latest version is
// assumed)
SDKROOT = iphoneos

// Don't try to install iOS binaries
SKIP_INSTALL = YES

// Xcode needs this to find archived headers if SKIP_INSTALL is set
HEADER_SEARCH_PATHS = $(OBJROOT)/UninstalledProducts/include

// Supported SDK platforms
SUPPORTED_PLATFORMS = iphonesimulator iphoneos

// Supported architectures
VALID_ARCHS = armv6 armv7 armv7s i386 x86_64
