//
// This file defines additional configuration options that are appropriate only
// for a static library. Typically, you want to use a platform-specific variant
// instead.
//

// Whether to strip out code that isn't called from anywhere
DEAD_CODE_STRIPPING = NO

// Whether to strip debugging symbols when copying resources (like included
// binaries).
//
// Overrides Release.xcconfig when used at the target level.
COPY_PHASE_STRIP = NO

// Whether function calls should be position-dependent (should always be
// disabled for library code)
GCC_DYNAMIC_NO_PIC = NO

// Whether to generate debugging symbols.
//
// Overrides Release.xcconfig when used at the target level.
GCC_GENERATE_DEBUGGING_SYMBOLS = YES

// Copy headers to "include/LibraryName" in the build folder by default. This
// lets consumers use #import <LibraryName/LibraryName.h> syntax even for static
// libraries
PUBLIC_HEADERS_FOLDER_PATH = include/$PRODUCT_NAME

// When compiling this library, look for imports (written with quotes) in the
// library's own folder first. This avoids conflicts from other headers in the
// build folder.
USER_HEADER_SEARCH_PATHS = ./**
